body{
	background: #0d131c;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#card_details {
	display: flex;
	flex-direction: column;
	background: #141d29;
	width: 270px;
	height: 480px;
	border-radius: 15px;
}

#card_details > h1{
	font-family: 'Outfit', sans-serif;
	font-size: 95%;
	font-weight: 900;
	margin-left: 13.5px;

}


#card_details > p{
	font-family: 'Outfit', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #8b93a3;
	margin: 5px 13.5px 10px 13.5px;
}


#card_details h1 a{
	text-decoration: none;
	color: #ffffff;
}


#card_details h1 a:active{
	color: #00FFF8;
}


.card{
	order: -1;
	justify-content: center;
	position: relative;
}


.card > a{
	display: block;
	position: relative;

}


.card a img{
	display: block;
	max-width: 100%;
	width: 90%;
	height: 50%;
	border-radius: 20px;
/*	align-self: center;	*/						/* centert the image cross-wise (horizontally) */
	padding: 12px;
/*	margin-top: 12px;*/
}


.overlay {
  position: absolute;
  top: 12px;
  bottom: 12;
  left: 12px;
  right: 12;
  height: 92%;
  width: 90%;
  opacity: 0;
  transition: .5s ease;
  background-color: #00FFF8;
  border-radius: 13px;

}

.card:hover .overlay{
	opacity: 0.6;
}

.eye {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.eth{
	display: flex;
	flex-flow: row;
}

.eth > svg{
	align-self: center;
	padding: 10px;
	margin-left: 5px;
}

.eth > h3, p{
	font-family: 'Outfit', sans-serif;
	align-self: center;
}

.eth > h3{
	color: #00FFF8;
	font-size: 90%;
	margin-right: 40px;
}

.eth > p{
	color: #8BACD9;
	font-size: 80%;
}

.credit{
	display: flex;
	flex-flow: row;
}

hr{
	width: 230px;
}


.credit > img{
	order: -1;
	overflow: hidden;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	width: 30px;
	height: 30px;
	border: solid 1px #ffffff;
	align-self: center;
	margin-left: 13px;

}

.credit > p{
	color: #8b93a3;
	margin-left: 15px;
	font-size: 80%;
}

.credit p a{
	text-decoration: none;
	color: #ffffff;
}

.credit p a:active{
	color: #00FFF8;
}

footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-family: 'Outfit', sans-serif;
	color: #00FFF8;
}

footer a{
	text-decoration: none;
	color: #FFFFFF;
}